{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% parent %}
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.bootcss.com/systemjs/0.20.19/system.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
{% endblock %}

{% block content %}
     <!-- 点赞的 HTML 页面 -->
     <section>
        <div class="main" id="box">
            <div class="finger"></div>
            <div class="finger"></div>
        </div>
    </section>
    <script>
        /**
         * 为什么需要使用 SystemJS？
         * 因为我们使用 Babel 编译了 ES6 代码，还包括 ES6 Modules
         * Babel 所做的功能只是帮助我们编译，不负责加载
         * 由于缺乏加载的支持，浏览器是不认识编译后的代码的
         * 因此，我们需要一个模块加载器
         * 
         * SystemJS 是一个万能的模块加载器，可以加载各种风格的模块
         * 因此，这里采用 SystemJS 加载经过 Babel 编译的模块
         **/
    
        // 从编译好的文件夹中引入文件
        System.import("/js/main.js").then((module) => {
            // 从编译后的文件中引入 Praise 类
            // 我们在 js 文件中使用 export default 暴露了模块
            // 这里就使用 module.default 引用模块
            const Praise = module.default;
            // 获取点赞相关的两个元素：容器元素和手掌元素
            const box = document.querySelector("section");
            const palm = document.querySelector(".main");
            // 启用点赞功能
            const praise = new Praise(box,palm,10)
        });
    </script>
{% endblock %}